<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} thread_id=[%thread]	level=%-5level class=%logger{36} %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} thread_id=[%thread]	level=%-5level class=%logger{36} %msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.rabo.customerstatementprocessor" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>